%h1.page-header= t('websites.index.header')
%table.table
  %thead
    %tr
      %th #
      %th Url
      %th= t('label.many')
      %th
      %th
      %th
      %th Actions
  %tbody
    - @websites.each_with_index do |website, index|
      %tr
        %td{rowspan: website.labels.size}= website.id
        %td{rowspan: website.labels.size}= website.url
        - if website.labels.first
          %td= website.labels.first.value
          %td= link_to "Show", website_label_items_path(website, website.labels.first)
          %td= link_to "Edit label", edit_website_label_path(website, website.labels.first)
          %td= link_to "Delete label", website_label_path(website, website.labels.first), method: :delete, data: {confirm: "Are you sure ?"}
        %td= link_to "Delete website", website_path(website), method: :delete, data: {confirm: "Are you sure ?"}
      - website.labels.each_with_index do |label, index|
        - if index != 0
          %tr
            %td= label.value
            %td= link_to "Show", website_label_items_path(website,label)
            %td= link_to "Edit label", edit_website_label_path(website,label)
            %td= link_to "Delete label", website_label_path(website, label), method: :delete, data: {confirm: "Are you sure ?"}

