%h1.page-header=t('websites.new.header')
.col-md-8.col-md-offset-2
  = form_tag websites_extraction_path, method: :get, id: :new_website_form do
    .form-group
      = label_tag :url, t('websites.new.url')
      = text_field_tag :url, "", class: 'form-control', placeholder: t('websites.new.url_ph')
    = button_tag t('websites.new.submit'), class: ['btn', 'btn-default']
    = image_tag 'loader.gif', class: ['loader', 'hidden']
    %hr
    .form_group
      =label_tag :weights, t('websites.new.weights_notice')
      .row
        .col-md-2=label_tag 'weights[color]', t('websites.new.weights.color')
        .col-md-2=number_field_tag 'weights[color]', "", :step => 0.01, class: 'form-control', placeholder: '1.00'
        .col-md-2=label_tag 'weights[background_color]', t('websites.new.weights.bg_color')
        .col-md-2=number_field_tag 'weights[background_color]', "", :step => 0.01, class: 'form-control', placeholder: '1.00'
        .col-md-2=label_tag 'weights[width]', t('websites.new.weights.width')
        .col-md-2=number_field_tag 'weights[width]', "", :step => 0.01, class: 'form-control', placeholder: '1.00'
      %br
      .row  
        .col-md-2=label_tag 'weights[height]', t('websites.new.weights.height')
        .col-md-2=number_field_tag 'weights[height]', "", :step => 0.01, class: 'form-control', placeholder: '1.00'
        .col-md-2=label_tag 'weights[text_decoration]', t('websites.new.weights.text_decoration')
        .col-md-2=number_field_tag 'weights[text_decoration]', "", :step => 0.01, class: 'form-control', placeholder: '1.00'
        .col-md-2=label_tag 'weights[font_style]', t('websites.new.weights.font_style')
        .col-md-2=number_field_tag 'weights[font_style]', "", :step => 0.01, class: 'form-control', placeholder: '1.00'
      %br
      .row
        .col-md-2=label_tag 'weights[left_alignment]', t('websites.new.weights.left_alignment')
        .col-md-2=number_field_tag 'weights[left_alignment]', "", :step => 0.01, class: 'form-control', placeholder: '1.00'
        .col-md-2=label_tag 'weights[top_alignment]', t('websites.new.weights.top_alignment')
        .col-md-2=number_field_tag 'weights[top_alignment]', "", :step => 0.01, class: 'form-control', placeholder: '1.00'
        .col-md-2=label_tag 'weights[z_index]', t('websites.new.weights.z_index')
        .col-md-2=number_field_tag 'weights[z_index]', "", :step => 0.01, class: 'form-control', placeholder: '1.00'
      %br
      .row
        .col-md-2=label_tag 'weights[padding_l_r]', t('websites.new.weights.padding_l_r')
        .col-md-2=number_field_tag 'weights[padding_l_r]', "", :step => 0.01, class: 'form-control', placeholder: '1.00'
        .col-md-2=label_tag 'weights[padding_t_b]', t('websites.new.weights.padding_t_b')
        .col-md-2=number_field_tag 'weights[padding_t_b]', "", :step => 0.01, class: 'form-control', placeholder: '1.00'
        .col-md-2=label_tag 'weights[border_horizontal_width]', t('websites.new.weights.border_horizontal_width')
        .col-md-2=number_field_tag 'weights[border_horizontal_width]', "", :step => 0.01, class: 'form-control', placeholder: '1.00'
      %br
      .row
        .col-md-2=label_tag 'weights[border_vertical_width]', t('websites.new.weights.border_vertical_width')
        .col-md-2=number_field_tag 'weights[border_vertical_width]', "", :step => 0.01, class: 'form-control', placeholder: '1.00'
