- content_for :head do 
  = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBqsxStycFXw_MFLjT5-kgUegXHgz1q16Q&sensor=true", "map", "data-turbolinks-track" => true

.wrapper
  .container
    .col-md-5.col-md-offset-1
      %h3=t('contact.form')
      %hr
      = form_for @feedback, url: feedbacks_path, html: { role: :form} do |f|
        .form-group
          = f.label :name,  t('contact.name')
          = f.text_field :name, placeholder: "Enter Name", class: 'form-control'
        .form-group
          = f.label :email,  t('contact.email')
          = f.email_field :email, placeholder: "Enter email", class: 'form-control'
        .form-group
          = f.label :content,  t('contact.content')
          = f.text_area :content, class: 'form-control'
        = f.button t('contact.send'), class: ['btn', 'btn-default', 'btn-block']
    .col-md-5.col-md-offset-1
      %h3 Google Map
      %hr
      #map-canvas{style: 'width:100%;height:250px'}
      %hr
      %h3= t('contact.address')
      %hr
      .col-md-6
        %strong Toyama Laboratory
        %br
        %span.text-muted.small 神奈川県横浜市港北区日吉3-14-1
        %span.text-muted.small 3-14-1 Hiyoshi, Kohoku-ku
        %span.text-muted.small Yokohama, Kanagawa 223-8522
        =link_to "toyama@db.ics.keio.ac.jp", "mailto:toyama@db.ics.keio.ac.jp"
      .col-md-6 
        %strong Thomas THIMOTHEE
        %br
        =link_to "Github Account", "https://github.com/oxynum", class: :small
        %br
        =link_to "+81 (0) 80 3609 2307", "tel:+818036092307", class: :small
        %br
        =link_to "thomas@oxynum.fr", "mailto:thomas@db.ics.keio.ac.jp", class: :small
        %br
        .span.text-muted.small
  %br
  .container
    .well.col-md-offset-1.col-md-11
      .col-md-5
        %h4= t('contact.check.head')
        %p{style: 'color:#666'}=t('contact.check.content')
      .col-md-5.col-md-offset-1
        %ul.custom-list{style: 'color:#666'}
          %li=link_to "SuperSQL", "http://ssql.db.ics.keio.ac.jp"
          %li=link_to "WIX (Web Index)", "http://kwix.jp"
          %li=link_to "RMX (Rule based Mail Xchange)"

:javascript
  $($('.navbar-nav li')[2]).addClass('active')