.jumbotron
  .container
    %h1 Welcome, ようこそ, Bienvenue!
    %p 
      = t('home.welcome_message')
      =link_to t('home.ssql_project'), "http://ssql.db.ics.keio.ac.jp/"
    %p 
      %a.btn.btn-primary.btn-lg{role: "button"}= t('home.learn_more') + " »"

.container
  .row
    .col-md-4
      %h2 Keep It Simple, Stupid
      %p= t('home.kiss')
      %p
        %a.btn.btn-default{href: about_path,role: "button"} View details »
    .col-md-4
      %h2= t('home.output.head')
      %p= t('home.output.content')
      %p
        %a.btn.btn-default{href: "http://ssql.db.ics.keio.ac.jp", role: "button"} View details »
    .col-md-4
      %h2= t('home.who.head')
      %p= t('home.who.content')
      %p
        %a.btn.btn-default{href: contact_path, role: "button"} View details »

:javascript
  $($('.navbar-nav li')[0]).addClass('active')