%h2.page-header 
  List of extracted items for the label 
  %span.text-primary= @label.value
  of the website
  %span.text-success= @website.url
%table.table.table-hover
  %thead
    %tr
      %th #
      %th value
      %th href / src
      %th Parent
  %tbody
    - @items.each_with_index do |item, index|
      %tr
        %td= item.id
        %td= item.value
        %td= item.link
        %td
          - if item.parent
            = item.parent.value
            from label
            = link_to item.parent.label.value, website_label_items_path(@website, item.parent.label)
