%h2.page-header 
  List of extracted items for the label 
  %span.text-primary= @label.value
  of the website
  %span.text-success= @website.url
.links
  .btn-group
    =link_to "Json format", {format: :json}, class: [:btn, 'btn-default']
    =link_to "Excel format", {format: :xls}, class: [:btn, 'btn-default']
    =link_to "Csv format", {format: :csv}, class: [:btn, 'btn-default']
    =link_to "Text format", {format: :txt}, class: [:btn, 'btn-default']
    =link_to "Xml format", {format: :xml}, class: [:btn, 'btn-default']
    - if @label.container
      =link_to "Container json", website_label_container_items_path(@website, @label, {format: :json}), class: [:btn, 'btn-default']
      =link_to "Container xml", website_label_container_items_path(@website, @label, {format: :xml}), class: [:btn, 'btn-default']
%table.table.table-hover
  %thead
    %tr
      %th #
      %th value
      %th href / src
      %th Parent
  %tbody
    - @items.each_with_index do |item, index|
      %tr
        %td= item.id
        %td= item.value
        %td= item.link
        %td
          - if item.parent
            = item.parent.value
            from label
            = link_to item.parent.label.value, website_label_items_path(@website, item.parent.label)
