!!!
%html
  %head>
    %title Web extraction engine
    = stylesheet_link_tag "application", "devise", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = yield :head
    =stylesheet_link_tag "sign_in", "zocial", "http://fonts.googleapis.com/css?family=Pompiere"
    %meta{name:'google-signin-scope', content: 'profile'}
    %meta{name: "google-signin-clientid", content:"1085235126808.apps.googleusercontent.com"}
    %meta{name: "google-signin-cookiepolicy", content: "single_host_origin"}
    = csrf_meta_tags
  %body
    - if flash[:notice]||flash[:alert]
      .notice=flash[:notice]||flash[:alert]
    =yield
    = render 'pages/footer'